$wml-panel-spacing0: calc(1/16* 1rem);
$wml-panel-spacing1: calc(2/16* 1rem);
$wml-panel-spacing2: calc(4/16* 1rem);
$wml-panel-spacing3: calc(8/16* 1rem);
$wml-panel-spacing4: calc(12/16* 1rem);
$wml-panel-spacing5: calc(16/16* 1rem);
$wml-panel-spacing6: calc(24/16* 1rem);
$wml-panel-spacing7: calc(32/16* 1rem);
$wml-panel-spacing8: calc(48/16* 1rem);
$wml-panel-spacing9: calc(64/16* 1rem);
$wml-panel-spacing10: calc(72/16* 1rem);
$wml-panel-spacing11: calc(96/16* 1rem);
$wml-panel-spacing12: calc(128/16* 1rem);
$wml-panel-spacing13: calc(192/16* 1rem);
$wml-panel-spacing14: calc(256/16* 1rem);
$wml-panel-spacing15: calc(384/16* 1rem);
$wml-panel-spacing16: calc(512/16* 1rem);



