$wml-notify-spacing0: calc(1/16* 1rem);
$wml-notify-spacing1: calc(2/16* 1rem);
$wml-notify-spacing2: calc(4/16* 1rem);
$wml-notify-spacing3: calc(8/16* 1rem);
$wml-notify-spacing4: calc(12/16* 1rem);
$wml-notify-spacing5: calc(16/16* 1rem);
$wml-notify-spacing6: calc(24/16* 1rem);
$wml-notify-spacing7: calc(32/16* 1rem);
$wml-notify-spacing8: calc(48/16* 1rem);
$wml-notify-spacing9: calc(64/16* 1rem);
$wml-notify-spacing10: calc(72/16* 1rem);
$wml-notify-spacing11: calc(96/16* 1rem);
$wml-notify-spacing12: calc(128/16* 1rem);
$wml-notify-spacing13: calc(192/16* 1rem);
$wml-notify-spacing14: calc(256/16* 1rem);
$wml-notify-spacing15: calc(384/16* 1rem);
$wml-notify-spacing16: calc(512/16* 1rem);



