$wml-toggle-spacing0: calc(1/16* 1rem);
$wml-toggle-spacing1: calc(2/16* 1rem);
$wml-toggle-spacing2: calc(4/16* 1rem);
$wml-toggle-spacing3: calc(8/16* 1rem);
$wml-toggle-spacing4: calc(12/16* 1rem);
$wml-toggle-spacing5: calc(16/16* 1rem);
$wml-toggle-spacing6: calc(24/16* 1rem);
$wml-toggle-spacing7: calc(32/16* 1rem);
$wml-toggle-spacing8: calc(48/16* 1rem);
$wml-toggle-spacing9: calc(64/16* 1rem);
$wml-toggle-spacing10: calc(72/16* 1rem);
$wml-toggle-spacing11: calc(96/16* 1rem);
$wml-toggle-spacing12: calc(128/16* 1rem);
$wml-toggle-spacing13: calc(192/16* 1rem);
$wml-toggle-spacing14: calc(256/16* 1rem);
$wml-toggle-spacing15: calc(384/16* 1rem);
$wml-toggle-spacing16: calc(512/16* 1rem);



