/*
 * Public API Surface of <%= dasherize(name) %>
 */


export * from './lib/<%= dasherize(componentFolderName) %>/<%= dasherize(componentFolderName) %>/<%= dasherize(componentFolderName) %>.component';
export * from './lib/<%= dasherize(componentFolderName) %>/<%= dasherize(componentFolderName) %>.module';
