@use "sass:string";

@function to-number($value) {
    @if type-of($value) == 'number' {
      @return $value;
    } @else if type-of($value) != 'string' {
      $_: log('Value for `to-number` should be a number or a string.');
    }

    $result: 0;
    $digits: 0;
    $minus: str-slice($value, 1, 1) == '-';
    $numbers: ('0': 0, '1': 1, '2': 2, '3': 3, '4': 4, '5': 5, '6': 6, '7': 7, '8': 8, '9': 9);

    @for $i from if($minus, 2, 1) through str-length($value) {
      $character: str-slice($value, $i, $i);

      @if not (index(map-keys($numbers), $character) or $character == '.') {
        @return to-length(if($minus, -$result, $result), str-slice($value, $i))
      }

      @if $character == '.' {
        $digits: 1;
      } @else if $digits == 0 {
        $result: $result * 10 + map-get($numbers, $character);
      } @else {
        $digits: $digits * 10;
        $result: $result + map-get($numbers, $character) / $digits;
      }
    }

    @return if($minus, -$result, $result);;
  }

@function convert-to-rgb($color) {
  $channels: string.split($color, ",");
  @return rgb(to-number(nth($channels, 1)),to-number(nth($channels, 2)),to-number(nth($channels, 3)));
}


$wml-slicebox-white: "255,255,255";
$wml-slicebox-black: "0,0,0";
$wml-slicebox-primary: "144,238,144";
$wml-slicebox-secondary:"112,112,112";

$wml-slicebox-primary-gradient:   radial-gradient(farthest-corner at 100% 0px,convert-to-rgb($wml-slicebox-primary) 0%,convert-to-rgb($wml-slicebox-secondary) 150%);
$wml-slicebox-secondary-gradient: radial-gradient(farthest-corner at 100% 0px,grey 0%,convert-to-rgb($wml-slicebox-black) 150%);


:root{
  --wml-slicebox-white:#{$wml-slicebox-white};
  --wml-slicebox-black:#{$wml-slicebox-black};
  --wml-slicebox-primary:#{$wml-slicebox-primary};
  --wml-slicebox-secondary:#{$wml-slicebox-secondary};

  --wml-slicebox-primary-gradient: #{$wml-slicebox-primary-gradient};
  --wml-slicebox-secondary-gradient: #{$wml-slicebox-secondary-gradient};

}
