$wml-slicebox-spacing0: calc(1/16* 1rem);
$wml-slicebox-spacing1: calc(2/16* 1rem);
$wml-slicebox-spacing2: calc(4/16* 1rem);
$wml-slicebox-spacing3: calc(8/16* 1rem);
$wml-slicebox-spacing4: calc(12/16* 1rem);
$wml-slicebox-spacing5: calc(16/16* 1rem);
$wml-slicebox-spacing6: calc(24/16* 1rem);
$wml-slicebox-spacing7: calc(32/16* 1rem);
$wml-slicebox-spacing8: calc(48/16* 1rem);
$wml-slicebox-spacing9: calc(64/16* 1rem);
$wml-slicebox-spacing10: calc(72/16* 1rem);
$wml-slicebox-spacing11: calc(96/16* 1rem);
$wml-slicebox-spacing12: calc(128/16* 1rem);
$wml-slicebox-spacing13: calc(192/16* 1rem);
$wml-slicebox-spacing14: calc(256/16* 1rem);
$wml-slicebox-spacing15: calc(384/16* 1rem);
$wml-slicebox-spacing16: calc(512/16* 1rem);



