$wml-tabs-spacing0: calc(1/16* 1rem);
$wml-tabs-spacing1: calc(2/16* 1rem);
$wml-tabs-spacing2: calc(4/16* 1rem);
$wml-tabs-spacing3: calc(8/16* 1rem);
$wml-tabs-spacing4: calc(12/16* 1rem);
$wml-tabs-spacing5: calc(16/16* 1rem);
$wml-tabs-spacing6: calc(24/16* 1rem);
$wml-tabs-spacing7: calc(32/16* 1rem);
$wml-tabs-spacing8: calc(48/16* 1rem);
$wml-tabs-spacing9: calc(64/16* 1rem);
$wml-tabs-spacing10: calc(72/16* 1rem);
$wml-tabs-spacing11: calc(96/16* 1rem);
$wml-tabs-spacing12: calc(128/16* 1rem);
$wml-tabs-spacing13: calc(192/16* 1rem);
$wml-tabs-spacing14: calc(256/16* 1rem);
$wml-tabs-spacing15: calc(384/16* 1rem);
$wml-tabs-spacing16: calc(512/16* 1rem);



